* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #FFF;
    /* background-color: #0e0d00; */
    background-color: #12141f;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

.container {
    border-bottom: #ffffff37 1px solid;
    /* display: inline-block; */
    padding-top: 20px;
}

.element-divider {
    display: flex;
    width: 100%;
    align-items: center;
}

.divider {
    flex-grow: 1;
    border-top: 1px solid #ffffff;
    /* margin: 20px 0; */
}

.text-rotated {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    white-space: nowrap;
    display: inline-block;
    overflow: visible;
}

.icon-primary {
    filter: invert(85%);
    stroke: blue;
    stroke-width: 2px;
}

.section-title::after,
.section-title::before {
    background: #ffc107;
}

.gallery-carousel .owl-nav .owl-prev,
.gallery-carousel .owl-nav .owl-next {
    background-color: rgb(82, 42, 42);
}

.owl-carousel .owl-item img {
    aspect-ratio: 1;
    object-fit: contain;
}

.img-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover;
    z-index: -40;

}

.button-volume {
    top: 85px;
    right: 20px;
    border-radius: 50%;
    /* background-color: #1556a6; */
    color: red;
    font-size: 20px;
    width: 50px;
    height: 50px;
    padding: auto;
    cursor: pointer;
    align-content: center;
    text-align: center;
    /* text-shadow: 1px 1px 0px yellow,
        -1px 1px 0px yellow,
        -1px -1px 0px yellow,
        1px -1px 0px yellow; */
    z-index: 1000;
}

.opacity-10 {
    opacity: 0.1;
}

.opacity-20 {
    opacity: 0.2;
}

.opacity-30 {
    opacity: 0.3;
}

.opacity-40 {
    opacity: 0.4;
}

.opacity-50 {
    opacity: 0.5;
}

.opacity-60 {
    opacity: 0.6;
}

.opacity-70 {
    opacity: 0.7;
}

.opacity-75 {
    opacity: 0.75;
}

.opacity-80 {
    opacity: 0.8;
}

.opacity-90 {
    opacity: 0.9;
}

.opacity-100 {
    opacity: 1;
}

.blur-5 {
    filter: blur(5px);
}

.blur-4 {
    filter: blur(4px);
}

.blur-3 {
    filter: blur(3px);
}

.blur-2 {
    filter: blur(2px);
}

.blur-1 {
    filter: blur(1px);
}